* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 2rem;
    background: #f5f5f5;
    font-family: "Cambria";
}

.background-texture {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
}

.background-texture::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
}

.card-container {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 1.25rem;
    padding: 10.625rem 1.875rem 3.375rem;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 6.25rem 6.25rem rgb(0 0 0 / 10%);
    background: url('assets/images/client-bg.png') center/cover;
}

.card-container > h2 {
    font-size: 1.375rem;
    font-weight: 950;
    margin: 0 0 1.875rem;
    color: #2a3444;
}

.card-container > p {
    color: darkblue;
    font-size: 2rem;
}

.card-container > h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2rem;
    color:darkblue;
}

.card-container > ul {
    list-style: none;
    padding: 0;
}

.card-container > ul > li {
    margin-top: 1.5rem;
}

.card-container > ul > li > a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.card-container > ul > li > a:hover {
    color: #143d81;
}
.card-container > h2 {
    font-size: 2.5rem; /* Increased font size */
    font-weight: 950;
    margin: -9rem 0 1.8rem; /* Adjusted margin to shift it upwards */
    color: white;
}
