* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 2rem;
    background: #f5f5f5;
    font-family: "Cambria";
    animation: rotate 6s infinite alternate linear;
}

@media (min-width: 500px) {
    body {
        padding: 0;
    }
}

.background-texture {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
}

.background-texture::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
}

.card-container {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 200%;
    margin: 0 1.25rem;
    padding: 10.625rem 1.875rem 3.375rem;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 6.25rem 6.25rem rgb(0 0 0 / 10%);
}

.card-container::before {
    content: "";
    position: absolute;
    top: -55rem;
    left: 50%;
    translate: -50% 0;
    width: 62.5rem;
    height: 62.5rem;
    border-radius: 50%;
    background: #216ce7;
}

@media (min-width: 500px) {
    .card-container {
        margin: 0;
        width: 50%;
    }
}

.card-container > h2 {
    font-size: 1.375rem;
    font-weight: 950;
    margin: 0 0 1.875rem;
    color: #2a3444;
}

.card-container > button {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    padding: 0 12px;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    transition: all 0.375s;
}

.card-container > button:hover {
    background: #143d81;
}

.card-container > footer {
    color: #a1a1a1;
}

.card-container > footer > a {
    color: #216ce7;
}
/* Existing CSS styles remain the same */

.previous-expenses {
    margin-top: 2rem;
}

.previous-expenses h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.previous-expenses ul {
    list-style-type: none;
    padding: 0;
}

.previous-expenses ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.previous-expenses {
    margin-top: 2rem;
}

.previous-expenses h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.previous-expenses table {
    width: 100%;
    border-collapse: collapse;
}

.previous-expenses th,
.previous-expenses td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.previous-expenses th {
    background-color: #f2f2f2;
}

.previous-expenses th:first-child,
.previous-expenses td:first-child {
    border-left: none;
}

.previous-expenses th:last-child,
.previous-expenses td:last-child {
    border-right: none;
}
.card-container.expanded {
    height: auto; 
    width: auto;/* Set height to auto to expand */
}

.previous-expenses {
    margin-top: 2rem;
    display: block; /* Initially hide the previous expenses section */
}

.previous-expenses.show {
    display: block; /* Show the previous expenses section when expanded */
}

.previous-expenses h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.previous-expenses table {
    width: 100%;
    border-collapse: collapse;
}

.previous-expenses th,
.previous-expenses td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.previous-expenses th {
    background-color: #f2f2f2;
}

.previous-expenses th:first-child,
.previous-expenses td:first-child {
    border-left: none;
}

.previous-expenses th:last-child,
.previous-expenses td:last-child {
    border-right: none;
}

